<section id="service" class="sm-py bg-gray1 bb-1 border-gray1 fullwidth">
  <!-- Container -->
  <div class="container">
    <div class="row calculate-height">
      <div class="t-left t-center-xs col-sm-6 col-xs-12">
        <h2 class="normal-subtitle">Our Services</h2>
        <h5 class="gray7">Modifiable examples with default styles.</h5>
      </div>
      <div class="t-right t-center-xs col-sm-6 col-xs-12">
        <ol class="breadcrumb transparent no-pm v-center font-12">
          <li class="breadcrumb-item black-hover gray8 slow"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item gray6 c-default">Service</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- End Container -->
</section>

<section class="border-gray1 sm-pt">

  <div id="services">

    <!-- Boxes -->
    <div class="boxes container t-left t-center-sm">

      <div class="row">

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-map h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Super Useful Modules</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-globe-alt h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Premium Plugins</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-home h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Unlimited Helpers</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-options-vertical h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Retina Ready</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-screen-desktop h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Awesome Features</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-plane h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Exclusive Variations</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-present h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Stunning Design</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-envelope-letter h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Friendly Support</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

        <!-- Box -->
        <div class="col-md-4 col-12 sm-mt">
          <div class="row no-mx">
            <!-- Icon -->
            <div class="col-1 t-center-sm no-pm">
              <i class="icon-speech h2 colored1"></i>
            </div>
            <div class="col-11 no-pr">
              <h4 class="bold-subtitle">Unique Class Convertor To CSS</h4>
              <p class="gray6 normal">Discovered the undoubtable source.</p>
            </div>
            <div class="col-12 xxs-mt no-pm">
              <p class="gray6 normal">
                There are many variations of passages of Lorem load Ipsum available, predefined but the majority have
                suffe alteration in some form.
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- End Boxes -->
  </div>
</section>

<section id="content" class="md-pt sm-pb xxs-mb">

  <div class="container t-center">
    <!-- Title -->
    <h1 class="bold-title">Best Rated Service</h1>
    <h4 class="dark light no-pm">Interested send us all the below details to apply.</h4>
    <div class="title-strips-over dark"></div>
  </div>
  <!-- Container to details -->
  <div class="container clearfix">
    <div class="row">
      <!-- Left Image -->
      <div class="col-sm-6 col-12">
        <a routerLink="https://vimeo.com/155981440" class="lightbox block block-img">
          <img src="assets/images/gallery/content_01.png" alt="content design image">
        </a>
      </div>
      <!-- Right Texts -->
      <div class="col-sm-6 col-12 xxs-py">
        <h5 class="gray6">There are many variations of passages</h5>
        <h1 class="bold-title ">
          Our first goal is to <span class="playfair italic">provide the</span> <br class="hidden-xs">
          highest <span class="playfair italic">quality projects.</span>
        </h1>
        <h4 class="xs-my gray6">
          It is a long established fact that a reader will be distracted
          content of a page when looking at its layout.
        </h4>
        <p class="lh-lg gray7">
          There are many variations of passages of Lorem Ipsum available.
        </p>
        <!-- List -->
        <ul class="list list-circle list-side xs-pt gray7 underline-hover-links font-14 bold-subtitle">
          <li>
            <span class="icon">1</span>
            <a routerLink="#">Awesome Features</a>
          </li>
          <li>
            <span class="icon">2</span>
            <a routerLink="#">Super Easy to Customize</a>
          </li>
          <li>
            <span class="icon">3</span>
            <a routerLink="#">Stunning Design</a>
          </li>
          <li>
            <span class="icon">4</span>
            <a routerLink="#">Unlimited Helpers</a>
          </li>
          <li>
            <span class="icon">5</span>
            <a routerLink="#">Super Useful Modules</a>
          </li>
          <li>
            <span class="icon">6</span>
            <a routerLink="#">Friendly Support</a>
          </li>
          <li>
            <span class="icon">7</span>
            <a routerLink="#">Super fast loading times</a>
          </li>
          <li>
            <span class="icon">8</span>
            <a routerLink="#">Unique Class Convertor To CSS</a>
          </li>
          <li>
            <span class="icon">9</span>
            <a routerLink="#">Super Responsive for all devices</a>
          </li>
          <li>
            <span class="icon">10</span>
            <a routerLink="#">High Performance</a>
          </li>
          <li>
            <span class="icon">11</span>
            <a routerLink="#">Retina Ready</a>
          </li>
          <li>
            <span class="icon">12</span>
            <a routerLink="#">Seo Ready</a>
          </li>
          <li>
            <span class="icon">13</span>
            <a routerLink="#">Premium Plugins</a>
          </li>
          <li>
            <span class="icon">14</span>
            <a routerLink="#">Exclusive Variations</a>
          </li>
        </ul>
        <!-- Buttons -->
        <div>
          <a routerLink="#"
            class="lg-btn border-btn border-dashed border-gray4 radius-lg bg-colored1-hover white-hover slow bs-lg-hover qdr-hover-4 xxs-mr xxs-mt bold-subtitle font-12">
            EXPLORE MORE
          </a>
          <a routerLink="#"
            class="lg-btn bg-colored1 radius-lg bg-dark-hover white slow bs-lg-hover bold-subtitle font-12 qdr-hover-4 xxs-mt">
            BUY THIS THEME
          </a>
        </div>
      </div>
      <!-- End Right Texts -->
    </div>
  </div>
  <!-- End Container to details -->
</section>
